@import 'nib'


// -----------------------------------------------------------------


$RED = rgba(255, 0, 0, 0.05)



// -----------------------------------------------------------------


toUnit(prop, value, unit=px)
  if value is not null
    {prop} unit(value, unit)



// Position --------------------------------------------------------


fixed-pos(left = 0, top = 0, right = 0, bottom = 0, unit=px)
  position fixed
  toUnit 'left', left, unit
  toUnit 'top', top, unit
  toUnit 'right', right, unit
  toUnit 'bottom', bottom, unit


abs-pos(left = 0, top = 0, right = 0, bottom = 0, unit=px)
  position absolute
  toUnit 'left', left, unit
  toUnit 'top', top, unit
  toUnit 'right', right, unit
  toUnit 'bottom', bottom, unit



abs-center-x(offset = 0)
  position absolute
  left 50%
  transform translateX(-50%)
  toUnit 'margin-left', offset

abs-center-y(offset = 0)
  position absolute
  top 50%
  transform translateY(-50%)
  toUnit 'margin-top', offset

abs-center-xy(offsetX = 0, offsetY = 0)
  position absolute
  left 50%
  top 50%
  transform translate(-50%, -50%)
  toUnit 'margin-left', offsetX
  toUnit 'margin-top', offsetY



// Size --------------------------------------------------------


size(width, height = width, unit=px)
  toUnit 'width',  width,  unit
  toUnit 'height', height, unit

min-size(width, height = width, unit=px)
  toUnit 'width',  min-width,  unit
  toUnit 'height', min-height, unit



// Images --------------------------------------------------------


bg-image(path, width=null, height=null, repeat=null)
  // Size.
  height = width if height is null
  size(width, height, 'px')

  // Image path.
  if match('.svg$', path)
    // SVG's don't need an @2x retina version.
    background-image url(path)
  else
    // Give all other image types the @2x retina version.
    image path, unit(width, 'px'), unit(height, 'px')

  // Repeat.
  repeat = no-repeat if repeat is null
  background-repeat repeat



package-image-path(packageName, path)
  base = '/packages/' + packageName + '/images'
  base += '/' if not match('^\/', path)
  base + path


package-image(packageName, path, width=null, height=null, repeat=null)
  path = package-image-path(packageName, path)
  bg-image(path, width, height, repeat)



// Sundry --------------------------------------------------------


ellipsis()
  text-overflow ellipsis
  white-space nowrap
  overflow hidden


