@import 'core.import'



a.btn, strong.btn, button.btn
  display inline-block
  background linear-gradient(#5db6e8,#168eda 85%,#168eda 90%,#1d93dd)
  -webkit-font-smoothing subpixel-antialiased
  box-sizing border-box
  height 37px
  line-height 37px
  font-size 14px
  font-family 'Helvetica Neue', Helvetica, Arial, sans-serif
  padding 0 25px
  border-radius 5px
  border solid 1px #1d93dd
  color #fff
  text-shadow 0 -1px 0 rgba(0,0,0,0.1)
  box-shadow 0px 1px 5px 0px rgba(black, 0.14)