@import 'core.import'


BG_TOP = #FFFFFF
BG_BOTTOM = #E6E6E6

BLUE_BG_TOP = #57B4E9
BLUE_BG_BOTTOM = #0990E0

GREEN_BG_TOP = #5DC35C
GREEN_BG_BOTTOM = #4EA54D

ORANGE_BG_TOP = #FCB340
ORANGE_BG_BOTTOM = #FA9600

BLACK_BG_TOP = #404040
BLACK_BG_BOTTOM = #232323

RED_BG_TOP = #ED5B54
RED_BG_BOTTOM = #C1362A


a.btn
  user-select none

a.btn, button.btn
  display inline-block
  -webkit-font-smoothing subpixel-antialiased
  box-sizing border-box
  font-family 'Helvetica Neue', Helvetica, Arial, sans-serif
  border-radius 5px
  border solid 1px
  cursor pointer
  outline none

  buttonSize(HEGIHT, FONT_SIZE, HORIZONTAL_PADDING)
    height HEGIHT
    line-height HEGIHT - 1
    font-size FONT_SIZE
    padding 0 HORIZONTAL_PADDING


  // Size.
  buttonSize(37px, 14px, 25px)
  &.mini
    HEGIHT = 23px
    buttonSize(HEGIHT, 13px, 20px)
    border-radius (HEGIHT / 2)
  &.small
    buttonSize(28px, 14px, 20px)
  &.large
    buttonSize(50px, 20px, 45px)



  // Color.
  color darken(white, 90%)
  border-color #DDDDDD
  border-bottom-color darken(#DDDDDD, 10%)
  text-shadow 0 1px 0 rgba(white ,0.9)
  box-shadow 0px 1px 5px 0px rgba(black, 0.08)
  background linear-gradient(top, BG_TOP 24%, BG_BOTTOM 100%)
  &:hover
    background linear-gradient(top, darken(BG_TOP, 5%) 24%, BG_BOTTOM 100%)

  invertedColor()
    color white
    text-shadow 0 -1px 0 rgba(black ,0.5)
    box-shadow 0px 1px 5px 0px rgba(black, 0.14)

  &.blue
    invertedColor()
    border-color #1d93dd
    background linear-gradient(top, BLUE_BG_TOP 15%, BLUE_BG_BOTTOM 87%);
    &:hover
      background linear-gradient(top, darken(BLUE_BG_TOP, 8%) 15%, darken(BLUE_BG_BOTTOM, 5%) 87%);

  &.red
    invertedColor()
    border-color #C6463D
    border-color-bottom #A53A33
    background-image: linear-gradient(top, RED_BG_TOP 21%, RED_BG_BOTTOM 84%);

  &.green
    invertedColor()
    border-color #4FA64E
    border-color-bottom #418A40
    background-image: linear-gradient(top, GREEN_BG_TOP 11%, GREEN_BG_BOTTOM 91%);

  &.orange
    invertedColor()
    border-color #E39718
    border-color-bottom #BC7E14
    background-image: linear-gradient(top, ORANGE_BG_TOP 11%, ORANGE_BG_BOTTOM 91%);

  &.black
    invertedColor()
    border-color #303030
    border-color-bottom black
    background-image: linear-gradient(top, BLACK_BG_TOP 18%, BLACK_BG_BOTTOM 87%);


// ------------------------------------------------------


a.btn[disabled], button.btn[disabled]
  opacity 0.3
  background BG_BOTTOM

  // Color.
  &.blue
    background rgba(BLUE_BG_BOTTOM, 0.5)
    opacity 0.2
  &.red
    background rgba(RED_BG_BOTTOM, 0.4)
    opacity 0.2
  &.green
    background rgba(GREEN_BG_BOTTOM, 0.5)
    opacity 0.2
  &.orange
    background rgba(ORANGE_BG_BOTTOM, 0.5)
    opacity 0.2
  &.black
    background rgba(BLACK_BG_BOTTOM, 0.5)
    opacity 0.2



